# Purchased/derived GTA: Vice City game data - copyrighted, never commit.
# revcDOS's own README explicitly warns against redistributing this; DOS.Zone
# was already DMCA'd by EBRAND for hosting it publicly.
local/
compiled-data/
revcdos-portable-v2.zip
